---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-empty-catch,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-use-default-member-init,
  -cppcoreguidelines-pro-type-member-init,
  -hicpp-special-member-functions,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-braces-around-statements,
  -readability-isolate-declaration,
  -readability-uppercase-literal-suffix,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -modernize-use-default-member-init,
  -fuchsia-trailing-return,
  -portability-avoid-pragma-once,
  -misc-include-cleaner,
  -clang-diagnostic-pragma-once-outside-header,
  -clang-diagnostic-error
HeaderFilterRegex: 'include/.*'
