name: CMake Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y \
          libsdl2-dev \
          libsdl2-2.0-0 \
          libenet-dev \
          libspdlog-dev

    - name: Configure CMake
      run: |
        cmake -B build -S .

    - name: Build
      run: |
        cmake --build build

    - name: Run tests
      run: |
        ./build/Tests
