name: CMake Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup vcpkg
      uses: lukka/run-vcpkg@v11
      with:
        vcpkgGitCommitId: 'a42af01b72c28a8e1d7b48107b33e4f286a55ef6'  # Latest stable

    - name: Configure CMake
      run: cmake -B build -DCMAKE_TOOLCHAIN_FILE=$VCPKG_ROOT/scripts/buildsystems/vcpkg.cmake

    - name: Build
      run: cmake --build build
#    - name: Install dependencies
#      run: |
#        sudo apt update
#        sudo apt install -y \
#          libsdl2-dev \
#          libsdl2-2.0-0 \
#          libenet-dev \
#          libspdlog-dev
#
#    - name: Configure CMake
#      run: |
#        cmake -B build -S .

#    - name: Build
#      run: |
#        cmake --build build

    - name: Run tests
      run: |
        ./build/Tests
