name: CMake Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install system dependencies
      run: |
        sudo apt update
        sudo apt install -y \
          pkg-config \
          libx11-dev \
          libxft-dev \
          libxext-dev \
          libwayland-dev \
          libxkbcommon-dev \
          libegl1-mesa-dev \
          libibus-1.0-dev

    - name: Setup vcpkg
      uses: lukka/run-vcpkg@v11
      with:
        vcpkgGitCommitId: '39922dbab0cafd7a7150d459c6a181c7dee5dfbe'

    - name: Configure CMake
      run: cmake -B build -DCMAKE_TOOLCHAIN_FILE=$VCPKG_ROOT/scripts/buildsystems/vcpkg.cmake

    - name: Build
      run: cmake --build build
#    - name: Install dependencies
#      run: |
#        sudo apt update
#        sudo apt install -y \
#          libsdl2-dev \
#          libsdl2-2.0-0 \
#          libenet-dev \
#          libspdlog-dev
#
#    - name: Configure CMake
#      run: |
#        cmake -B build -S .

#    - name: Build
#      run: |
#        cmake --build build

    - name: Run tests
      run: |
        cd build && ctest --output-on-failure
